<div class="rst-versions" role="note" aria-label="{% trans %}Versions{% endtrans %}">
  <span class="rst-current-version" data-toggle="rst-current-version">
    {% if config.repo_url %}
      <span>
        <a
          href="{{ config.repo_url }}"
          class="repo-link-icon"
          aria-label="GitHub repository"
          title="GitHub repository"
        >
          <span class="fa fa-github" aria-hidden="true"></span>
        </a>
      </span>
    {% endif %}
    {% if page.previous_page %}
      <span><a href="{{ page.previous_page.url|url }}" style="color: #fcfcfc">&laquo; {% trans %}Previous{% endtrans %}</a></span>
    {% endif %}
    {% if page.next_page %}
      <span><a href="{{ page.next_page.url|url }}" style="color: #fcfcfc">{% trans %}Next{% endtrans %} &raquo;</a></span>
    {% endif %}
  </span>
</div>
